streamlit==1.37.1
pandas==2.2.2
plotly==5.22.0
numpy==2.0.1
python-dotenv==1.0.1
langchain==0.2.12
langchain-google-genai==1.0.8
pydantic==2.8.2
pydantic-settings==2.4.0
SQLAlchemy==2.0.32
sqlite-utils==3.36.0

